In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(r"F:\campusX\7_Columns Transformer\covid_toy.csv")

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)


# train me has covid nhi jayeha

In [10]:
X_train

    age  gender  fever   cough       city
23   80  Female   98.0    Mild      Delhi
93   27    Male  100.0    Mild    Kolkata
25   23    Male    NaN    Mild     Mumbai
52   47  Female  100.0  Strong  Bangalore
91   38    Male    NaN    Mild      Delhi
..  ...     ...    ...     ...        ...
13   64    Male  102.0    Mild  Bangalore
34   74    Male  102.0    Mild     Mumbai
47   18  Female  104.0    Mild  Bangalore
12   25  Female   99.0  Strong    Kolkata
42   27    Male  100.0    Mild      Delhi

[80 rows x 5 columns]

In [13]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [24]:
X_train['fever']

23     98.0
93    100.0
25      NaN
52    100.0
91      NaN
      ...
13    102.0
34    102.0
47    104.0
12     99.0
42    100.0
Name: fever, Length: 80, dtype: float64

In [25]:
from sklearn.impute import SimpleImputer

si=SimpleImputer()

X_train_fever=si.fit_transform(X_train[['fever']])

In [22]:
X_train_fever

array([[ 98.        ],
       [100.        ],
       [100.93150685],
       [100.        ],
       [100.93150685],
       [103.        ],
       [101.        ],
       [ 98.        ],
       [101.        ],
       [101.        ],
       [102.        ],
       [103.        ],
       [ 98.        ],
       [104.        ],
       [104.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [ 98.        ],
       [100.        ],
       [104.        ],
       [103.        ],
       [104.        ],
       [104.        ],
       [ 98.        ],
       [100.93150685],
       [100.        ],
       [ 99.        ],
       [102.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [102.        ],
       [104.        ],
       [ 99.        ],
       [ 99.        ],
       [104.        ],
       [ 98.        ],
       [102.        ],
       [ 98.        ],
       [102.        ],
       [100.93150685],
       [ 98.        ],
       [103.        ],
       [100.        ],
       [100.        ],
       [100.93150685],
       [104.        ],
       [ 99.        ],
       [ 98.        ],
       [101.        ],
       [101.        ],
       [104.        ],
       [103.        ],
       [101.        ],
       [ 99.        ],
       [100.93150685],
       [101.        ],
       [102.        ],
       [101.        ],
       [101.        ],
       [102.        ],
       [101.        ],
       [103.        ],
       [100.        ],
       [ 98.        ],
       [101.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [100.        ],
       [104.        ],
       [100.93150685],
       [101.        ],
       [101.        ],
       [102.        ],
       [102.        ],
       [104.        ],
       [ 99.        ],
       [100.        ]])